<div class="title SuperTitle">Оприходование товаров №@Номер@ от @Дата@</div>
<table class="head">
    <tbody>
    <tr>
        <td class="title">Организация:</td>
        <td class="name">@Организация@</td>
    </tr>
    <tr>
        <td class="title">Склад:</td>
        <td class="name">Основной склад</td>
    </tr>
    <tr>
        <td class="title">Основание:</td>
        <td class="name"> </td>
    </tr>
    </tbody>
</table>
<table class="table">
    <tr class="thead">
        <td class="border center">№</td>
        <td class="border center">Товар</td>
        <td class="border center" colspan="2">Количество</td>
        <td class="border center">Цена</td>
        <td class="border center">Сумма</td>
    </tr>
    @Товары@
    <tr>
        <td colspan="4"> </td>
        <td class="right">Итого:</td>
        <td class="right">@СуммаЦифрами@</td>
    </tr>
</table>
<div class="line">Всего наименований @Количество@, на сумму @СуммаЦифрами@</div>
<div class="line U SumProp bold">@СуммаПрописью@</div>
<div class="line">
    <div class="name">Отпустил</div>
    <div class="u"> </div>
    <div class="name">Получил</div>
    <div class="u"> </div>
</div>