<div class="page">
    <div class="pageleft pagetd">
        <div class="top" style="margin-top: 5px;">
            <div class="tline">Унифицированная форма КО-1</div>
            <div class="tline">Утверждена Постановлением Госкомстата России от 18.08.98 N 88</div>
        </div>
        <div class="sheath">
            <div class="t">
                <div class="tleft toptd">
                    <div class="line">@Организация@</div>
                    <div class="subline">организация</div>
                    <div class="line">@Подразделение@</div>
                    <div class="subline">подразделение</div>
                </div>
                <div class="tright toptd">
                    <table>
                        <tr>
                            <td class="textright"> </td>
                            <td class="border textcenter">Коды</td>
                        </tr>
                        <tr>
                            <td class="textright">Форма по ОКУД</td>
                            <td class="bordertop textcenter bold">@ОКУД@</td>
                        </tr>
                        <tr>
                            <td class="textright">по ОКПО</td>
                            <td class="bordermidden textcenter bold">@ОКПО@</td>
                        </tr>
                        <tr>
                            <td class="textright"> </td>
                            <td class="borderbottom textcenter bold"> </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="f">
                <table>
                    <tr>
                        <td rowspan="2" class="name textright bold">ПРИХОДНЫЙ КАССОВЫЙ ОРДЕР</td>
                        <td class="border textcenter">Номер документа</td>
                        <td class="border textcenter">Дата составления</td>
                    </tr>
                    <tr>
                        <td class="borderbold bold textcenter">@НомерДокумента@</td>
                        <td class="borderbold bold textcenter">@Дата@</td>
                    </tr>
                </table>
            </div>
            <table class="root">
                <tr>
                    <td rowspan="2" class="border textcenter">Дебет</td>
                    <td colspan="4" class="border textcenter">Кредит</td>
                    <td rowspan="2" class="border textcenter">Сумма руб. коп.</td>
                    <td rowspan="2" class="border textcenter">Код целевого назначения</td>
                    <td rowspan="2" class="border empty textcenter"> </td>
                </tr>
                <tr>
                    <td class="border empty textcenter"> </td>
                    <td class="border textcenter">код структу- рного подра- зделения</td>
                    <td class="border textcenter">корреспон- дирующий счет, субсчет</td>
                    <td class="border textcenter">код аналити- ческого учета</td>
                </tr>
                <tr class="borderbold">
                    <td class="border textcenter">@Дебет@</td>
                    <td class="border textcenter"> </td>
                    <td class="border textleft">@КодПодразделения@</td>
                    <td class="border textcenter">@СубСчет@</td>
                    <td class="border textcenter"> </td>
                    <td class="border textright" style="width: 20%;">@Сумма@</td>
                    <td class="border textcenter"> </td>
                    <td class="border textcenter"> </td>
                </tr>
            </table>
            <table class="dop">
                <tr>
                    <td class="dopleft">Принято от:</td>
                    <td class="dopright">@ПринятоОт@</td>
                </tr>
                <tr>
                    <td>Основание:</td>
                    <td>@Основание@</td>
                </tr>
                <tr>
                    <td colspan="2"> </td>
                </tr>
                <tr>
                    <td colspan="2">Сумма:</td>
                </tr>
                <tr>
                    <td colspan="2">@СуммаПрописью@</td>
                </tr>
                <tr>
                    <td colspan="2"> </td>
                </tr>
                <tr>
                    <td>В том числе:</td>
                    <td>НДС (Без НДС) @НДС@</td>
                </tr>
                <tr>
                    <td>Приложение:</td>
                    <td>@Приложение@</td>
                </tr>
            </table>
            <div class="line" style="margin-top: 10px;">
                <div class="n bold">
                    Главный бухгалтер
                </div>
                <div class="i p">
                    <div class="itop"> </div>
                    <div class="ibottom">подпись</div>
                </div>
                <div class="i r" style="margin-left: 10px">
                    <div class="itop"> </div>
                    <div class="ibottom">расшифровка подписи</div>
                </div>
            </div>
            <div class="line" style="margin-top: 10px;">
                <div class="n bold">
                    Кассир
                </div>
                <div class="i p">
                    <div class="itop"> </div>
                    <div class="ibottom">подпись</div>
                </div>
                <div class="i r" style="margin-left: 10px">
                    <div class="itop"> </div>
                    <div class="ibottom">расшифровка подписи</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pageright pagetd">
        <div class="sheath">
            <div class="line name textcenter">@Организация@</div>
            <div class="subline">организация</div>
            <div class="line name textcenter bold resize">КВИТАНЦИЯ</div>
            <div class="line line1" style="margin-top: 15px;">
                <div class="n">к ПКО №</div>
                <div class="i">
                    <div class="itop bold">@НомерДокумента@</div>
                    <div class="ibottom"> </div>
                </div>
            </div>
            <div class="line line1">
                <div class="n">от</div>
                <div class="i">
                    <div class="itop bold">@Дата1@</div>
                    <div class="ibottom"> </div>
                </div>
            </div>
            <div class="line" style="margin-top: 5px">Принято от</div>
            <div class="line">@ПринятоОт@</div>
            <div class="line" style="margin-top: 27px;">Основание</div>
            <div class="line">@Основание@</div>
            <div class="line line2" style="margin-top: 36px;">
                <div class="n">Сумма</div>
                <div class="i">
                    <div class="itop bold">@СуммаЦифрами@</div>
                    <div class="ibottom">цифрами</div>
                </div>
            </div>
            <div class="line">@СуммаПрописью@</div>
            <div class="line" style="margin-top: 20px;">В том числе</div>
            <div class="line">НДС (Без НДС) @НДС@</div>
            <div class="line line3" style="margin-top: 30px;">
                <div class="i">
                    <div class="itop bold">@Дата1@</div>
                    <div class="ibottom"></div>
                </div>
            </div>
            <div class="line bold" style="margin-top: 10px;">М.П. (штампа)</div>
            <div class="line bold" style="margin-top: 10px;">Главный бухгалтер</div>
            <div class="line line4" style="margin-top: 20px;">
                <div class="i">
                    <div class="itop"> </div>
                    <div class="ibottom">подпись</div>
                </div>
                <div class="i">
                    <div class="itop"> </div>
                    <div class="ibottom">расшифровка подписи</div>
                </div>
            </div>
            <div class="line bold" style="margin-top: 10px;">Кассир</div>
            <div class="line line4" style="margin-top: 20px;">
                <div class="i">
                    <div class="itop"> </div>
                    <div class="ibottom">подпись</div>
                </div>
                <div class="i" style="margin-left: 10px">
                    <div class="itop"> </div>
                    <div class="ibottom">расшифровка подписи</div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="style.css">