body {
    background-color: #E6E6FA;
}

.Page, .Page div, .Page form, .Page table {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    overflow: visible;
}

.Page button, .Page a {
    display: inline-block;
    width: auto;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    background-color: rgb(64, 65, 154);
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0;
    border: 1px solid rgb(64, 65, 154);
    float: left;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.Page button:hover, .Page a:hover {

}

.Page .Actions .Current {
    margin: 0 0 0 5px;
}

form.FormSimple {
    width: auto;
    overflow: hidden !important;
    border-radius: 5px;
    float: left;
    white-space: nowrap;
}

.Page .TBody .FormSimple {
    width: 157px;
    min-width: 157px;
    max-width: 157px;
}

.FormSimple label,
.FormSimple button {
    display: inline-block;
    width: 38px;
    max-width: 38px;
    min-width: 38px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    background-color: rgb(64, 65, 154);
    color: rgb(255, 255, 255);
    font-size: 16px;
    float: left;
    margin: 0;
    border: none;
    border-radius: 0;
    text-align: center;
}

.FormSimple input {
    display: inline-block;
    width: 81px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0 10px;
    border: 1px solid rgb(64, 65, 154);
    margin: 0;
    float: left;
}

.FormSimple.col-fs-2 input {
    width: calc((100% - 38px * 3) / 2);
}

.Page .Title {
    font-size: 25px;
    text-align: center;
}

.Page .Actions {
    margin-top: 15px;
}

.Page .Body {
    display: table;
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid rgb(64, 65, 154);
}

.Page .Body a, .Page .Body button {
    width: 100%;
}

.Page .Scroll {
    position: relative;
    overflow: auto;
    overflow-y: hidden;
}
.Page .Body thead .THeadClone {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Page .Body thead, .Page .Body tbody, .Page .Body tfoot {
    width: 100%;
}

.Page .Body thead td, .Page .Body tfoot td {
    background-color: rgb(64, 65, 154);
    color: rgb(255, 255, 255);
}
.Page .Body thead tr td {
    padding: 5px 10px;
}

.Page .Body thead tr td a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: normal;
    padding: 0;
}

.Page .Body tr td {
    border-right: 1px solid rgb(64, 65, 154);
}

.Page .Body thead tr td:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.Page .Body td {
    padding: 5px;
    text-align: center;
}

.Page .Body .TBody.tr {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(64, 65, 154);
}

.Page .Body .Action {
    cursor: pointer;
}

.Page .Body tr:hover {
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,.05);
}

.Page .Body .Level1 {
    background-color: rgba(155, 155, 219, .5);
}

.Page .Body .Level2 {
    background-color: rgba(198, 192, 236, .4);
}

.Page .Body .Level3 {
    background-color: rgba(211, 212, 243, .1);
}

.Page .Modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 1000;
    text-align: center;
}

.Page .Modal .ModalPage {
    position: relative;
    display: inline-block;
    width: calc(100% - 20px);
    max-width: 600px;
    height: auto;
    max-height: calc(100vh - 40px);
    min-height: 50px;
    line-height: normal;
    vertical-align: middle;
    float: none;
    background: rgb(255,255,255);
    border-radius: 3px;
    overflow: auto;
    margin: 0 10px;
}

.Page .Modal .ModalClose {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
}

.Page .Modal .ModalPage.PayList .PayListTable {
    width: 100%;
    height: auto;
    display: inline-table;
    float: left;
}

.Page .Modal .ModalPage.PayList .PayListTable tr td {
    padding: 0 5px;
}

.Page .Modal .ModalPage.PayList .PayListTable thead tr td,
.Page .Modal .ModalPage.PayList .PayListTable tfoot tr td{
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    background: rgb(64, 65, 154);
    color: rgb(255,255,255);
    font-weight: bold;
}

.Page .Modal .ModalPage.PayList .PayListTable tbody tr td:not(:first-child) {
    text-align: center;
    border-left: 1px solid rgb(64, 65, 154);
}

.Page .Modal .ModalPage.PayList .PayListTable tbody tr:not(:first-child) {
    border-top: 1px solid rgb(64, 65, 154);
}

.Page .Modal .ModalPage.PayList .FormPay .FormSimple {
    border-radius: 0;
}

.MarginLeft {
    margin-left: 5px;
}

.Show {
    display: inherit !important;
}

@media (max-width: 767px) {
    .Page .Scroll {
        left: -30px;
        width: calc(100% + 60px);
    }
}