<tr>
    <td class="textright paddingright5" colspan="7">Итого</td>
    <td class="border"></td>
    <td class="border"></td>
    <td class="border textright paddingright3">@ИтогоКоличество@</td>
    <td class="border textcenter">X</td>
    <td class="border textright paddingright3">@ИтогоСумма@</td>
    <td class="border textcenter">X</td>
    <td class="border textright paddingright3"></td>
    <td class="border textright paddingright3">@ИтогоСуммаНДС@</td>
</tr>
<tr>
    <td class="textright paddingright5" colspan="7">Всего по накладной</td>
    <td class="border textcenter"></td>
    <td class="border textcenter"></td>
    <td class="border textright paddingright3">@ИтогоКоличество@</td>
    <td class="border textcenter">X</td>
    <td class="border textright paddingright3">@ИтогоСумма@</td>
    <td class="border textcenter">X</td>
    <td class="border textright paddingright3"></td>
    <td class="border textright paddingright3">@ИтогоСуммаНДС@</td>
</tr>