<div class="t3">
    <div class="lt">
        <div class="name n1">Товарная накладная имеет приложение на</div>
        <div class="input i1">
            <div class="itop"> </div>
            <div class="ibottom"> </div>
        </div>
    </div>
    <div class="lt">
        <div class="name n2">и содержит</div>
        <div class="input i2">
            <div class="itop">@КоличествоСтрокПрописью@</div>
            <div class="ibottom">прописью</div>
        </div>
        <div class="name n3">порядковых номеров записей</div>
    </div>
</div>
<div class="t4">
    <div class="lt">
        <div class="ltb ltb1 ltbs">

        </div>
        <div class="ltb ltb2 ltbs">
            <div class="name n2">Масса груза (нетто)</div>
            <div class="input i2">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="ltb ltb3">

        </div>
    </div>
    <div class="lt">
        <div class="ltb ltb1 ltbs">
            <div class="name n4">Всего мест</div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="ltb ltb2 ltbs">
            <div class="name n5">Масса груза (брутто)</div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="ltb ltb3">

        </div>
    </div>
</div>
<div class="t5">
    <div class="lt">
        <div class="line">
            <div class="name n1">Приложение (паспорта, сертификаты и т.п.) на</div>
            <div class="input i1">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
            <div class="name n2">листах</div>
        </div>
        <div class="line">
            <div class="input i2">
                <div class="itop">Всего отпущено на сумму<br>@СуммаПрописью@</div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n3">Отпуск груза разрешил</div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n6">Главный (старший) бухгалтер</div>
            <div class="input i6"> </div>
            <div class="input i7">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i8">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n3">Отпуск груза произвел</div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n9">М.П.</div>
            <div class="name n10">"@ДатаЧисло@"</div>
            <div class="input i9">
                <div class="itop">@ДатаМесяц@</div>
                <div class="ibottom"> </div>
            </div>
            <div class="name n11">@ДатаГод@ года</div>
        </div>
    </div>
    <div class="rt">
        <div class="line">
            <div class="name n1">По доверенности №</div>
            <div class="input i1">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
            <div class="name n2">от</div>
            <div class="input i2">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n3">выданной</div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom">кем, кому (организация, должность, фамилия, и.о.)</div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n3"> </div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
        </div>
        <div class="line">
            <div class="name n3"> </div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n4">Груз принял</div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i6">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n4">Груз получил грузополучатель</div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i6">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n9">М.П.</div>
            <div class="name n10">"      "</div>
            <div class="input i9">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
            <div class="name n11">@ДатаГод@ года</div>
        </div>
    </div>
</div>