<div class="top">
    <div class="line">Унифицированная форма № ТОРГ- 12</div>
    <div class="line">Утверждена постановлением Госкомстата России от 25.12.98 № 132</div>
</div>
<div class="head">
    <div class="left">
        <div class="line u">@ОрганизацияОтправитель@</div>
        <div class="subline">
            организация – грузоотправитель, адрес, номер телефона, факса, банковские реквизиты
        </div>
        <div class="line u">@Подразделение@</div>
        <div class="subline">
            структурное подразделение
        </div>
        <div class="line">
            <div class="line_left">
                Грузополучатель
            </div>
            <div class="line_right">@ОрганизацияПолучатель@</div>
        </div>
        <div class="subline">
            наименование организации, адрес, номер телефона, банковские реквизиты
        </div>
        <div class="line">
            <div class="line_left">
                Адрес доставки
            </div>
            <div class="line_right">@АдресДоставки@</div>
        </div>
        <div class="subline">
            адрес доставки
        </div>
        <div class="line">
            <div class="line_left">
                Поставщик
            </div>
            <div class="line_right">@Поставщик@</div>
        </div>
        <div class="subline">
            наименование организации, адрес, номер телефона, банковские реквизиты
        </div>
        <div class="line">
            <div class="line_left">
                Плательщик
            </div>
            <div class="line_right">@Плательщик@</div>
        </div>
        <div class="subline">
            наименование организации, адрес, номер телефона, банковские реквизиты
        </div>
        <div class="line">
            <div class="line_left">
                Основание
            </div>
            <div class="line_right">@Основание@</div>
        </div>
        <div class="subline">
            договор, заказ-наряд
        </div>

        <div class="center">
            <div class="tn">
                <div class="name">ТОВАРНАЯ НАКЛАДНАЯ</div>
                <table class="table">
                    <tr>
                        <td>Номер документа</td>
                        <td>Дата составления</td>
                    </tr>
                    <tr class="tr_end">
                        <td>@НомерДокумента@</td>
                        <td>@Дата@</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="right">
        <table>
            <tr class="line">
                <td colspan="2" class="left"> </td>
                <td class="right border">Коды</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">Форма по ОКУД</td>
                <td class="right bordertop">@ОКУД@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left"> </td>
                <td class="right bordermiddle"> </td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">Вид деятельностипо по ОКДП</td>
                <td class="right bordermiddle">@ОКДП@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО1@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО2@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО3@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">номер</td>
                <td class="right bordermiddle">@КодНомер1@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">дата</td>
                <td class="right bordermiddle">@КодДата1@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">номер</td>
                <td class="right bordermiddle">@КодНомер2@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">дата</td>
                <td class="right bordermiddle">@КодДата2@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">Вид операции</td>
                <td class="right borderbottom">@ВидОперации@</td>
            </tr>
        </table>
    </div>
</div>
<div class="t1">
    <div class="trn">Транспортная накладная</div>
</div>