<tr class="component">
    <td class="border textright paddingright3">@НомерТовара@</td>
    <td class="border textleft">@ИмяТовара@</td>
    <td class="border2px textleft">@КодТовара@</td>
    <td class="border textcenter">@ЕдиницаИзмерения@</td>
    <td class="startborder textcenter">@КодОКЕИ@</td>
    <td class="middleborder textcenter">@ВидУпаковки@</td>
    <td class="middleborder textcenter"></td>
    <td class="middleborder textcenter"></td>
    <td class="middleborder textcenter"></td>
    <td class="middleborder textright paddingright3">@КоличествоМасса@</td>
    <td class="middleborder textright paddingright3">@Цена@</td>
    <td class="endborder textright paddingright3">@Сумма@</td>
    <td class="border textcenter">@Ставка@</td>
    <td class="startborder textright paddingright3">@НДССумма@</td>
    <td class="endborder textright paddingright3">@СуммаНДС@</td>
</tr>