<div class="title">Накладная на перемещение №#Номер# от #Дата#</div>
<table class="head">
    <tbody>
    <tr>
        <td class="title">Отправитель:</td>
        <td class="name">#Отправитель#</td>
    </tr>
    <tr>
        <td class="title">Получатель:</td>
        <td class="name">#Получатель#</td>
    </tr>
    </tbody>
</table>
<table class="table">
    <tr class="thead">
        <td class="center">№</td>
        <td class="center">Товар</td>
        <td class="center" colspan="2">Мест</td>
        <td class="center" colspan="2">Количество</td>
    </tr>
    #Таблица#
</table>
<div class="line">
    <div class="name">Отпустил</div>
    <div class="u"> </div>
    <div class="name">Получил</div>
    <div class="u"> </div>
</div>