<div class="body">
    <table>
        <tr>
            <td class="border textcenter" rowspan="2" style="width: 35px;">Но - мер по по - рядку</td>
            <td class="border textcenter" colspan="2">Товар</td>
            <td class="border textcenter" colspan="2">Единица измерения</td>
            <td class="border textcenter" rowspan="2">Вид упаковки</td>
            <td class="border textcenter" colspan="2">Количество</td>
            <td class="border textcenter" rowspan="2">Масса брутто</td>
            <td class="border textcenter" rowspan="2">Количество (масса нетто)</td>
            <td class="border textcenter" rowspan="2">Цена, руб. коп.</td>
            <td class="border textcenter" rowspan="2">Сумма без учета НДС, руб. коп.</td>
            <td class="border textcenter" colspan="2">НДС</td>
            <td class="border textcenter" rowspan="2">Сумма с учетом НДС, руб. коп.</td>
        </tr>
        <tr>
            <td class="border textcenter">наименование, характеристика, сорт, артикул товара</td>
            <td class="border textcenter">код</td>
            <td class="border textcenter">наиме - нование</td>
            <td class="border textcenter">Код по ОКЕИ</td>
            <td class="border textcenter">в одном месте</td>
            <td class="border textcenter">мест, штук</td>
            <td class="border textcenter">ставка,%</td>
            <td class="border textcenter">сумма, руб. коп.</td>
        </tr>
        <tr>
            <td class="border textcenter">1</td>
            <td class="border textcenter">2</td>
            <td class="border textcenter">3</td>
            <td class="border textcenter">4</td>
            <td class="border textcenter">5</td>
            <td class="border textcenter">6</td>
            <td class="border textcenter">7</td>
            <td class="border textcenter">8</td>
            <td class="border textcenter">9</td>
            <td class="border textcenter">10</td>
            <td class="border textcenter">11</td>
            <td class="border textcenter">12</td>
            <td class="border textcenter">13</td>
            <td class="border textcenter">14</td>
            <td class="border textcenter">15</td>
        </tr>
        @Товары@
        <tr>
            <td class="textright paddingright5" colspan="7">Итого</td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border textright paddingright3">@ИтогоКоличество@</td>
            <td class="border textcenter">X</td>
            <td class="border textright paddingright3">@ИтогоСумма@</td>
            <td class="border textcenter">X</td>
            <td class="border textright paddingright3"></td>
            <td class="border textright paddingright3">@ИтогоСуммаНДС@</td>
        </tr>
        <tr>
            <td class="textright paddingright5" colspan="7">Всего по накладной</td>
            <td class="border textcenter"></td>
            <td class="border textcenter"></td>
            <td class="border textright paddingright3">@ИтогоКоличество@</td>
            <td class="border textcenter">X</td>
            <td class="border textright paddingright3">@ИтогоСумма@</td>
            <td class="border textcenter">X</td>
            <td class="border textright paddingright3"></td>
            <td class="border textright paddingright3">@ИтогоСуммаНДС@</td>
        </tr>
    </table>
</div>