<div class="top">
    <div class="line">Унифицированная форма № ТОРГ- 12</div>
    <div class="line">Утверждена постановлением Госкомстата России от 25.12.98 № 132</div>
</div>
<div class="head">
    <div class="left">
        <div class="line u">@ОрганизацияОтправитель@</div>
        <div class="subline">
            организация – грузоотправитель, адрес, номер телефона, факса, банковские реквизиты
        </div>
        <div class="line u">@Подразделение@</div>
        <div class="subline">
            структурное подразделение
        </div>
        <div class="line">
            <div class="line_left">
                Грузополучатель
            </div>
            <div class="line_right">@ОрганизацияПолучатель@</div>
        </div>
        <div class="subline">
            наименование организации, адрес, номер телефона, банковские реквизиты
        </div>
        <div class="line">
            <div class="line_left">
                Адрес доставки
            </div>
            <div class="line_right">@АдресДоставки@</div>
        </div>
        <div class="subline">
            адрес доставки
        </div>
        <div class="line">
            <div class="line_left">
                Поставщик
            </div>
            <div class="line_right">@Поставщик@</div>
        </div>
        <div class="subline">
            наименование организации, адрес, номер телефона, банковские реквизиты
        </div>
        <div class="line">
            <div class="line_left">
                Плательщик
            </div>
            <div class="line_right">@Плательщик@</div>
        </div>
        <div class="subline">
            наименование организации, адрес, номер телефона, банковские реквизиты
        </div>
        <div class="line">
            <div class="line_left">
                Основание
            </div>
            <div class="line_right">@Основание@</div>
        </div>
        <div class="subline">
            договор, заказ-наряд
        </div>

        <div class="center">
            <div class="tn">
                <div class="name">ТОВАРНАЯ НАКЛАДНАЯ</div>
                <table class="table">
                    <tr>
                        <td>Номер документа</td>
                        <td>Дата составления</td>
                    </tr>
                    <tr class="tr_end">
                        <td>@НомерДокумента@</td>
                        <td>@Дата@</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="right">
        <table>
            <tr class="line">
                <td colspan="2" class="left"> </td>
                <td class="right border">Коды</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">Форма по ОКУД</td>
                <td class="right bordertop">@ОКУД@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left"> </td>
                <td class="right bordermiddle"> </td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">Вид деятельностипо по ОКДП</td>
                <td class="right bordermiddle">@ОКДП@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО1@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО2@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">по ОКПО</td>
                <td class="right bordermiddle">@ОКПО3@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">номер</td>
                <td class="right bordermiddle">@КодНомер1@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">дата</td>
                <td class="right bordermiddle">@КодДата1@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">номер</td>
                <td class="right bordermiddle">@КодНомер2@</td>
            </tr>
            <tr class="line">
                <td class="center"> </td>
                <td class="center border">дата</td>
                <td class="right bordermiddle">@КодДата2@</td>
            </tr>
            <tr class="line">
                <td colspan="2" class="left">Вид операции</td>
                <td class="right borderbottom">@ВидОперации@</td>
            </tr>
        </table>
    </div>
</div>
<div class="t1">
    <div class="trn">Транспортная накладная</div>
</div>
<div class="t2">
    Страница 1
</div>
@body@
<div class="t3">
    <div class="lt">
        <div class="name n1">Товарная накладная имеет приложение на</div>
        <div class="input i1">
            <div class="itop"> </div>
            <div class="ibottom"> </div>
        </div>
    </div>
    <div class="lt">
        <div class="name n2">и содержит</div>
        <div class="input i2">
            <div class="itop">@КоличествоСтрокПрописью@</div>
            <div class="ibottom">прописью</div>
        </div>
        <div class="name n3">порядковых номеров записей</div>
    </div>
</div>
<div class="t4">
    <div class="lt">
        <div class="ltb ltb1 ltbs">

        </div>
        <div class="ltb ltb2 ltbs">
            <div class="name n2">Масса груза (нетто)</div>
            <div class="input i2">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="ltb ltb3">

        </div>
    </div>
    <div class="lt">
        <div class="ltb ltb1 ltbs">
            <div class="name n4">Всего мест</div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="ltb ltb2 ltbs">
            <div class="name n5">Масса груза (брутто)</div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="ltb ltb3">

        </div>
    </div>
</div>
<div class="t5">
    <div class="lt">
        <div class="line">
            <div class="name n1">Приложение (паспорта, сертификаты и т.п.) на</div>
            <div class="input i1">
                <div class="itop"> </div>
                <div class="ibottom">прописью</div>
            </div>
            <div class="name n2">листах</div>
        </div>
        <div class="line">
            <div class="input i2">
                <div class="itop">Всего отпущено на сумму<br>@СуммаПрописью@</div>
                <div class="ibottom">прописью</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n3">Отпуск груза разрешил</div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n6">Главный (старший) бухгалтер</div>
            <div class="input i6"> </div>
            <div class="input i7">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i8">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n3">Отпуск груза произвел</div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n9">М.П.</div>
            <div class="name n10">"@ДатаЧисло@"</div>
            <div class="input i9">
                <div class="itop">@ДатаМесяц@</div>
                <div class="ibottom"> </div>
            </div>
            <div class="name n11">@ДатаГод@ года</div>
        </div>
    </div>
    <div class="rt">
        <div class="line">
            <div class="name n1">По доверенности №</div>
            <div class="input i1">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
            <div class="name n2">от</div>
            <div class="input i2">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n3">выданной</div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom">кем, кому (организация, должность, фамилия, и.о.)</div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n3"> </div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
        </div>
        <div class="line">
            <div class="name n3"> </div>
            <div class="input i3">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n4">Груз принял</div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i6">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 4px">
            <div class="name n4">Груз получил грузополучатель</div>
            <div class="input i4">
                <div class="itop"> </div>
                <div class="ibottom">должность</div>
            </div>
            <div class="input i5">
                <div class="itop"> </div>
                <div class="ibottom">подпись</div>
            </div>
            <div class="input i6">
                <div class="itop"> </div>
                <div class="ibottom">расшифровка подписи</div>
            </div>
        </div>
        <div class="line" style="margin-top: 8px">
            <div class="name n9">М.П.</div>
            <div class="name n10">"      "</div>
            <div class="input i9">
                <div class="itop"> </div>
                <div class="ibottom"> </div>
            </div>
            <div class="name n11">@ДатаГод@ года</div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="realization.css">