/* Основное */

h1 {
    font-size: 25px;
}

#noty_center_layout_container
{
    display: inline-block !important;
    height: auto !important;
}

/* Созданное */

.Actions {
    display: inline-block;
    width: 100%;
    height: auto;
    line-height: 20px;
    margin-top: 5px;
}

.Page {
    height: auto;
}

.Page, .Page div {
    display: inline-block;
    float: left;
    width: 100%;
    height: auto;
}

.Page .Main {
    box-shadow: 0 0 0 1px rgb(65, 64, 153);
    border-radius: 3px;
    overflow: hidden;
    margin-top: 10px;
}

.Page .Main .MainName {
    background-color: rgb(65,64,153);
    color: rgb(255,255,255);
    padding: 0 15px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}

.Page .Main.MainCalendar .MainBlock {
    height: 320px;
    line-height: 320px;
}

.Page .Main .MainBlock,
.Page .Main .MainBlock div {
    user-select: none;
}

.Page .Main .MainBlock .Arrow {
    position: relative;
    top: calc(50% - 20px);
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    color: rgb(65,64,153);
    cursor: pointer;
}

.Page .Main .MainBlock .Arrow:hover {
    background-color: rgb(65,64,153);
    color: rgb(255,255,255);
}

.Page .Main .MainBlock .Arrow.Right {
    float: right;
}

.Page .Main .MainBlock .Arrow i {
    position: relative;
    top: -1px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.Page .Main .MainBlock .Calendars {
    vertical-align: middle;
    width: calc(100% - 100px);
    height: auto;
}

.Page .Main .MainBlock .Calendars .Calendar {
    width: calc(100% / 3 - 10px);
    margin: 20px 5px;
}

.Page .Main .MainBlock .Calendars .Calendar:hover {
    transform: scale(1.03);
}

.Modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    z-index: 100000;
    display: none;
}

.Modal .ModalDark {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.Modal > div:not(.ModalDark) {
    display: none;
    vertical-align: middle;
    width: 350px;
    max-width: 100%;
    height: auto;
    min-height: 50px;
    max-height: calc(100vh - 20px);
    line-height: normal;
    margin: 10px 0;
    background-color: rgb(255,255,255);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
}

.Modal > div:not(.ModalDark) div {
    display: inline-block;
    float: left;
    width: 100%;
}

.Modal > div:not(.ModalDark) .Title {
    background-color: rgb(65,64,153);
    color: rgb(255,255,255);
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
}

@media (max-width: 995px) {
    .Page .Main .MainBlock .Calendars .Calendar:first-child,
    .Page .Main .MainBlock .Calendars .Calendar:last-child {
        display: none;
    }

    .Page .Main .MainBlock .Calendars .Calendar:nth-child(2) {
        width: calc(100% - 10px);
    }
}

/*
h1
{
    font-size: 25px;
}

#noty_center_layout_container
{
    display: inline-block !important;
    height: auto !important;
}

.Calendars, .Calendars div
{
    display: inline-block;
    user-select: none;
}

.Calendars
{
    width: calc(100% + 40px);
    margin: 15px -20px 0 -20px;
}

.Calendars .CalName
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    background-color: #4e4cb7;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0 15px;
}

.Calendars .Block
{
    width: 100%;
    height: 320px;
    line-height: 320px;
    float: left;
    text-align: center;
    box-shadow: inset 0 0 0 1px #4e4cb7;
    overflow: hidden;
}

.Calendars .Block .CalBlock
{
    max-width: calc(100% - 110px);
    padding: 1px;
    float: none;
    vertical-align: middle;
    overflow: visible;
    margin-top: -2px;
    margin-bottom: 2px;
}

.Calendars .Block .CalBlock .Calendar:not(:first-child)
{
    margin-left: 15px;
}

.Calendars .Block .CalBlock .Calendar:hover
{
    transform: scale(1.05);
}

.Calendars .Block .button
{
    position: relative;
    top: calc(50% - 20px);
    margin: 0 5px;
    height: 40px;
    line-height: 38px;
    width: 40px;
    float: left;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: rgba(78, 76, 183, 1);
    font-size: 20px;
    cursor: pointer;
}

.Calendars .Block .button:hover
{
    background-color: rgba(78, 76, 183, 1);
    color: rgba(255,255,255,1);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.5);
}

.Calendars .Block .button:hover i
{
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.5);
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.Calendars .Block .Right
{
    float: right;
}

.ModalCalendar
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1000000;
}

.ModalCalendar .Dark
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.75);
}

.ModalCalendar .ModalDay
{
    position: absolute;
    top: 10px;
    left: calc(50vw - 150px);
    width: 300px;
    max-height: calc(100vh - 10px);
    display: none;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 1px #4e4cb7;
    overflow-y: auto;
    overflow-x: hidden;
}

.ModalCalendar .ModalDay .Title
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #4e4cb7;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    float: left;
}

.ModalCalendar .ModalDay .Employees
{
    width: calc(100% - 2px);
    height: auto;
    max-height: calc(100vh - 120px);
    float: left;
    margin: 0 1px;
    box-shadow: inset 0 1px 0 0 #4e4cb7;
    overflow-y: auto;
    overflow-x: hidden;
}

.ModalCalendar .ModalDay .Employees .Employee.In
{
    background-color: rgb(0, 198, 133);
    color: #ffffff;
}
.ModalCalendar .ModalDay .Employees .Employee.Out
{
    background-color: rgb(234, 89, 0);
    color: #ffffff;
}

.ModalCalendar .ModalDay .Employees .Employee
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    box-shadow: inset 0 -1px 0 0 #4e4cb7;
}

.ModalCalendar .ModalDay .Employees .Employee div
{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
    float: left;
}

.ModalCalendar .ModalDay .Employees .Employee .time:after
{
    content: '-';
    margin: 0 5px;
}

.ModalCalendar .ModalDay .Add,
.ModalCalendar .ModalDay .Actions
{
    width: 100%;
    padding: 7px;
    display: inline-block;
}

.ModalCalendar .ModalDay .Add .ButtomAdd,
.ModalCalendar .ModalDay .Actions button
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #4e4cb7;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.ModalCalendar .ModalDay .Actions button
{
    line-height: 0;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm
{
    width: 100%;
    background-color: #4e4cb7;
    color: #FFFFFF;
    border-radius: 5px;
    display: none;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line
{
    background-color: transparent;
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line .Name
{
    width: 30%;
    height: 40px;
    text-align: left;
    padding: 0 10px;
    float: left;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line select
{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 3px;
    border: none;
    padding: 0 10px;
    width: 65%;
    vertical-align: middle;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line .Time select
{
    width: 30%;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line .Time select:first-child
{
    margin-right: 10px;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line:last-child
{
    margin-top: 10px;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line button
{
    width: calc(59% - 10px);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #000000;
    float: left;
    margin: 0 1% 0 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.ModalCalendar .ModalDay .Add .AddEmployeeForm .Line button:last-child
{
    width: calc(38% - 10px);
    margin: 0 0 0 1%;
}

.InfoBlock, .InfoBlock div
{
    display: inline-block;
}

.InfoBlock
{
    width: calc(100% + 40px);
    margin: 15px -20px 0 -20px;
}

.InfoBlock .InfoBName
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    background-color: #4e4cb7;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0 15px;
}

.InfoBlock .Block
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    box-shadow: inset 0 0 0 1px #4e4cb7;
    overflow: hidden;
}

.InfoBlock .Block .Schedule
{
    width: 30%;
    height: auto;
    line-height: normal;
    float: left;
    box-shadow: inset 0 1px 0 0 #4e4cb7;
    overflow-y: auto;
    overflow-x: hidden;
}

.InfoBlock .Block .Schedule .Employee.In
{
    background-color: rgb(0, 198, 133);
    color: #ffffff;
}
.InfoBlock .Block .Schedule .Employee.Out
{
    background-color: rgb(234, 89, 0);
    color: #ffffff;
}

.InfoBlock .Block .Schedule .Employee
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    box-shadow: inset 0 -1px 0 0 #4e4cb7;
    float: left;
}

.InfoBlock .Block .Schedule .Employee div
{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
    float: left;
}

.InfoBlock .Block .Schedule .Employee .time:after
{
    content: '-';
    margin: 0 5px;
}

.InfoBlock .BigData
{
    width: 70%;
    height: auto;
    line-height: normal;
    float: left;
}

.InfoBlock .BigData .Employee
{
    float: left;
    width: 100%;
    height: auto;
    box-shadow: 0 1px 0 0 #4e4cb7;
}

.InfoBlock .BigData .Employee .EmployeeName
{
    float: left;
    text-align: left;
    padding: 0 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #00c685;
    color: #4e4cb7;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .Calendars .Calendar {
        width: calc(30px * 8);
    }
}

@media (max-width: 995px) {
    .Calendars .CalBlock
    {
        width: 100%;
        max-width: calc(100% - 100px);
    }

    .Calendars .Calendar {
        width: 100%;
        margin: 0 !important;
    }

    .Calendars .Calendar:first-child,
    .Calendars .Calendar:last-child{
        display: none;
    }
}
*/