.Calendars, .Calendars div
{
    display: inline-block;
}
.Calendars
{
    width: 100%;
}

.Calendars .CalName
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    background-color: #4e4cb7;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0 15px;
}

.Calendars .Block
{
    width: 100%;
    float: left;
    text-align: center;
    box-shadow: inset 0 0 1px 1px #4e4cb7;
    padding: 10px 0;
}

.Calendars .Block .CalBlock
{
    float: none;
}