button {
    cursor: pointer;
}

.modal_window_pay {
    padding-bottom: 0 !important;
    border-radius: 2px;
    overflow: hidden;
}

.modal_window_pay .dealer_name {
    background-color: rgb(64, 65, 154);
    font-size: 18px;
    color: rgb(255,255,255);
}

.modal_window_pay .dealer_pay {
    border-bottom: 1px solid rgb(64,65,154);
}

.modal_window_pay .send_pay {
    width: calc(100% - 10px);
    height: 32px;
    border-radius: 5px;
    background-color: rgb(64,65,154);
    margin: 10px 5px;
    overflow: hidden;
}

.modal_window_pay .send_pay label, .send_pay button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    float: left;
    text-align: center;
    background-color: rgb(64,65,154);
    color: rgb(255,255,255);
    border: none;
}

.modal_window_pay .send_pay input {
    height: 30px;
    border: none;
    display: inline-block;
    float: left;
    margin: 1px 0;
    padding-left: 5px;
}

.modal_window_pay .send_pay input.pay_sum {
    width: 70px;
}

.modal_window_pay .send_pay input.pay_comment {
    width: calc(100% - 32px * 3 - 70px);;
}

.modal_window_pay .table_size {
    width: 100%;
    height: auto;
    max-height: calc(100vh / 2);
    overflow-x: auto;
    overflow-y: auto;
    display: inline-block;
    float: left;
}

.modal_window_pay .dealer_history {
    width: 100%;
}

.modal_window_pay .dealer_history td {
    text-align: center;
}

.modal_window_pay .dealer_history thead, .dealer_history tfoot {
    background-color: rgb(64,65,154);
    color: rgb(255,255,255);
}

.modal_window_pay .dealer_history tbody tr.project:hover {
    background-color: rgba(64,65,154,.2);
    cursor: pointer;
}