<div class="page">
    <div class="pageleft pagetd">
        <div class="top" style="margin-top: 5px;">
            <div class="tline">Унифицированная форма КО-2</div>
            <div class="tline">Утверждена Постановлением Госкомстата России от 18.08.98 N 88</div>
        </div>
        <div class="sheath">
            <div class="t">
                <div class="tleft toptd">
                    <div class="line">@Организация@</div>
                    <div class="subline">организация</div>
                    <div class="line">@Подразделение@</div>
                    <div class="subline">структурное подразделение</div>
                </div>
                <div class="tright toptd">
                    <table>
                        <tr>
                            <td class="textright"> </td>
                            <td class="border textcenter" style="font-size: 10px;">коды</td>
                        </tr>
                        <tr>
                            <td class="textright" style="padding-top: 10px;">Форма по ОКУД</td>
                            <td class="bordertop textcenter bold" style="padding-top: 10px;">@ОКУД@</td>
                        </tr>
                        <tr>
                            <td class="textright" style="padding-top: 10px;">по ОКПО</td>
                            <td class="bordermidden textcenter bold" style="padding-top: 10px;">@ОКПО@</td>
                        </tr>
                        <tr>
                            <td class="textright" style="padding-top: 10px;"> </td>
                            <td class="borderbottom textcenter bold" style="padding-top: 10px;"> </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="f">
                <table>
                    <tr>
                        <td class="name textright bold"></td>
                        <td class="border textcenter" style="padding-top: 5px;padding-bottom: 5px;">Номер документа</td>
                        <td class="border textcenter" style="padding-top: 5px;padding-bottom: 5px;">Дата документа</td>
                    </tr>
                    <tr>
                        <td class="name textright bold">РАСХОДНЫЙ КАССОВЫЙ ОРДЕР</td>
                        <td class="borderbold textcenter" style="padding-top: 5px;padding-bottom: 5px;font-size: 12px !important;">@НомерДокумента@</td>
                        <td class="borderbold textcenter" style="padding-top: 5px;padding-bottom: 5px;font-size: 12px !important;">@Дата@</td>
                    </tr>
                </table>
            </div>
            <table class="root">
                <tr>
                    <td colspan="4" class="border textcenter">Дебет</td>
                    <td rowspan="2" class="border textcenter">Кредит</td>
                    <td rowspan="2" class="border textcenter">Сумма руб. коп.</td>
                    <td rowspan="2" class="border textcenter">Код целевого назначения</td>
                    <td rowspan="2" class="border empty textcenter"> </td>
                </tr>
                <tr>
                    <td class="border empty textcenter"> </td>
                    <td class="border textcenter">код структурного подразделения</td>
                    <td class="border textcenter">корреспонд ирующий счет, субсчет</td>
                    <td class="border textcenter">код аналити- ческого учета</td>
                </tr>
                <tr class="borderbold">
                    <td class="border textcenter"  width="10%"></td>
                    <td class="border textcenter"> </td>
                    <td class="border textleft" style="text-align: center">@СубСчет@</td>
                    <td class="border textcenter"></td>
                    <td class="border textcenter">@Кредит@</td>
                    <td class="border textright" style="width: 20%;text-align: center">@Сумма@</td>
                    <td class="border textcenter"> </td>
                    <td class="border textcenter" width="10%"> </td>
                </tr>
            </table>
            <div>
                <div class="row">
                    <div class="line-title">
                        <div class="line">Выдать</div>
                    </div>
                    <div class="line-content">
                        <div class="line">@Выдать@</div>
                        <div class="subline">фамилия, имя, отчетсво </div>
                    </div>
                </div>
                <div class="row">
                    <div class="line-title">
                        <div class="line" style="margin-top: 0 !important;">Основание</div>
                    </div>
                    <div class="line-content">
                        <div class="line" style="margin-top: 0 !important;"></div>
                        <div class="subline"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="line-title">
                        <div class="line" style="margin-top: 0 !important;">Сумма</div>
                    </div>
                    <div class="line-content">
                        <div class="line" style="margin-top: 0 !important;">@СуммаПрописью@</div>
                        <div class="subline">прописью</div>
                    </div>
                </div>
                <div class="row">
                    <div class="line" style="margin-top: 0 !important;"></div>
                    <div class="subline" style="height: 1px;"></div>
                </div>
                <div class="row">
                    <div class="line-title">
                        <div class="line" style="margin-top: 0 !important;">Приложение</div>
                    </div>
                    <div class="line-content">
                        <div class="line" style="margin-top: 0 !important;"></div>
                        <div class="subline" style="height: 1px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="line" style="margin-top: 0 !important;"></div>
                    <div class="subline" style="height: 1px;"></div>
                </div>
                <div class="row">
                    <div class="line-title" style="width: 30% !important;">
                        <div class="line" style="margin-top: 0 !important;">Руководитель организации</div>
                    </div>
                    <div class="line-content" style="width: 69% !important;">
                        <div style="display: inline-block;width: 26%;padding-right: 10px;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline">должность</div>
                        </div>
                        <div style="display: inline-block;width: 26%; padding-right: 10px;padding-left: 10px;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline">подпись</div>
                        </div>
                        <div style="display: inline-block;width: 39%; padding-left: 10px;">
                            <div class="line" style="margin-top: 0 !important;">Руденко И. А.</div>
                            <div class="subline">расшифровка подписи</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="line-title" style="width: 30% !important;">
                        <div class="line" style="margin-top: 0 !important;">Главный бухгалтер</div>
                    </div>
                    <div class="line-content" style="width: 69% !important;">
                        <div style="display: inline-block;width: 26%; padding-right: 10px;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline">подпись</div>
                        </div>
                        <div style="display: inline-block;width: 35%; padding-left: 10px;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline">расшифровка подписи</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="line-title">
                        <div class="line" style="margin-top: 0 !important;">Получил</div>
                    </div>
                    <div class="line-content">
                        <div class="line" style="margin-top: 0 !important;"></div>
                        <div class="subline">сумма прописью</div>
                    </div>
                </div>
                <div class="row">
                    <div style="display: inline-block;width: 65%">
                        <div class="line-content" style="width: 100%;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline"></div>
                        </div>
                    </div>
                    <div style="display: inline-block;width: 5%;text-align: left !important;">
                        <div class="line" style="margin-top: 0 !important;">руб.</div>
                    </div>
                    <div style="display: inline-block;width: 20%">
                        <div class="line-content" style="width: 100%;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline"></div>
                        </div>
                    </div>
                    <div style="display: inline-block;width: 5%">
                        <div class="line" style="margin-top: 0 !important;">коп.</div>
                    </div>
                </div>
                <div class="row">
                    <div style="display: inline-block;width: 25%;padding-right: 75px;">
                        <div class="line" style="margin-top: 0 !important;">@Дата1@</div>
                        <div class="subline"></div>
                    </div>
                    <div style="display: inline-block;width: 40%;padding-left: 110px;">
                        <div class="line-title" style="width: 30% !important;">
                            <div class="line" style="margin-top: 0 !important;">Подпись</div>
                        </div>
                        <div class="line-content" style="width: 69% !important;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="line-title">
                        <div class="line" style="margin-top: 0 !important;">По</div>
                    </div>
                    <div class="line-content">
                        <div class="line" style="margin-top: 0 !important;">серия, номер, выданный</div>
                        <div class="subline">наименование, номер, дата и место выдачи документа</div>
                    </div>
                </div>
                <div class="row">
                    <div class="line" style="margin-top: 0 !important;"></div>
                    <div class="subline">удостоверяющего личность получателя</div>
                </div>
                <div class="row">
                    <div class="line-title" style="width: 15% !important;">
                        <div class="line" style="margin-top: 0 !important;">Выдал кассир</div>
                    </div>
                    <div class="line-content" style="width: 84% !important;">
                        <div style="display: inline-block;width: 25%;padding-right: 25px;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline">подпись</div>
                        </div>
                        <div style="display: inline-block;width: 25%;padding-left: 25px;">
                            <div class="line" style="margin-top: 0 !important;"></div>
                            <div class="subline">расшифровка подписи</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" type="text/css" href="style.css">