<br><br><br>
<div class="act_caption">Акт сдачи/приемки работ по монтажу натяжных потолков</div>
<div class="act_caption">По договору №<u>@project_id@</u></div>
<br>
<div>
    Представитель исполнителя ИП Руденко И.А. в лице <u>@gauger@</u>
    cдает, а представитель Заказчика, в лице <u>@client_name@</u>, принимает натяжные потолки и выполненные работы, по их
    установке. Комплектация материалов и работы соответствуют требованиям Заказчика. Заказчик работы принял, претензий
    по количеству и качеству не имеет, с условиями эксплуатации и ухода за натяжными потолками ознакомлен, согласен.
</div>

<div class="act_caption_big">Правила эксплуатации натяжного потолка</div>
<p>
    <p>
        1.	Полотно натяжного потолка изготовлено из высокопрочной плёнки ПВХ толщиной 15-20 мкм. Несмотря на свою прочность,
    боится острых предметов и отрицательных температур (последнее не относится к тканевым потолкам).
    </p>
    <br>
    <p>
        2.	Плёнка обладает пыле- и водоотталкивающими свойствами и легко поддаётся уходу. Уход за полотном потолка осуществляется
    с помощью любых бытовых моющих средств, кроме абразивных и средств, содержащих растворители ПВХ-материалов. На слегка
    влажную салфетку наносится небольшое количество моющего средства и протирается равномерно по всей площади полотна.
    Сильное загрязнение легко удаляется чистым спиртом (лучше медицинским).</p>
    <br>
    <p>
        3.	При замене ламп в светильниках, встроенных в потолок, мощность ламп накаливания не должна превышать 60 Вт,
    мощность галогеновых ламп не должна превышать 35 Вт и расстояние от ламп до потолка в сантиметрах (для люстр) должно
        быть не менее величины мощности лампы в ваттах.
    </p>
    <br>
    <p>
        4.	Для демонтажа потолков необходимо вызвать представителей фирмы-установщика.
    </p>
</div>
<br>
<br>

<div class="act_caption_big">Гарантийные обязательства</div>
<div>
    1. Гарантия на полотна натяжных потолков и сварные швы – 10 лет.<br>
    2. Гарантия на монтажные работы натяжных потолков – 1 год.<br>
    3. Гарантия вступает в действие с момента подписания акта выполненных работ.<br>
    4. В случае попадания в запотолочное пространство (после монтажа изделий) жидкостей, насекомых, фрагментов
    основного потолка, ситуация не является гарантийной, и ремонт проводится за отдельную плату.
</div>
<br>
<br>
<b>Была внесена сумма аванса в размере @prepayment@</b><br>
<br>
<b>Подпись получателя____________________</b><br>
<br>
<b>Я, остаток суммы по данному договору получил в размере @rest@</b><br>
<br>
<b>Подпись получателя____________________</b><br>
<div class="hr_cont" style="position: fixed;bottom: 20mm">
    <hr>
</div>
<div class="left" style="position: fixed;bottom:15mm;left:0;" >
<b>ЗАКАЗЧИК:</b><br>
</div>
<div class="left" style="position: fixed;bottom: 10px;left:0;" >
    
    Подпись_________________/@client_initials@/
</div>
<div style="position: absolute;left:30mm;bottom: 5mm">
    <img src="@client_sign@" style="width: 100px;max-height:40px;">
</div>
<div class="right" style="position:fixed;left: 28mm;bottom:15mm;">
     <b>ПОДРЯДЧИК:</b><br>
</div>
<div class="right" style="position: fixed;bottom: 0;right:0;">
    <div style='text-align: left;background: url("/images/contract/stamp.png");'>
        Подпись______________/Руденко И.А./<br>
        М.П.
    </div>
</div>
<div style="position: absolute;right:20mm;bottom: 0;">
    <img src="/images/contract/stamp.png" style="width: 200px;">
</div>
<div style="position: absolute;right:65mm;bottom: 0mm;">
    <img src="/images/contract/sign.png" style="width: 100px;">
</div>

