<div class="right" style="clear: both;width: 100%;"><i>Приложение №1 к Договору № <u>@project_id@</u></i></div><br>

<h5 class="center">ТЕХНИЧЕСКИЕ ТРЕБОВАНИЯ ПОДРЯДЧИКА</h5>
<div class="center">к объекту для установки натяжных  потолков</div>

<b>1.</b> <i>Заказчик</i> предупрежден о необходимости обязательного сохранения неизменного периметра
помещения после проведения замеров и составления сметы.<br>
<b>2.</b> <i>Заказчик</i> обязан передать <i>Подрядчику</i> объект, подготовленный для установки натяжных
потолков:
<div>
    <ul>
        <li>
            Леса, если высота помещения больше 4 м.
        </li>
        <li>
            Все строительные работы должны быть завершены полностью с уборкой строительного мусора;
        </li>
        <li>
            <b><i><u>К местам установки светильников должны быть подведены кабельные линии, обеспечивающие
                гарантированное включение и отключение электроэнергии;</u></i></b>
        </li>
        <li>
            Стены в местах крепления потолков должны быть прочными, неповрежденными, прямолинейными.
            Гипсокартон, керамическая плитка, другие конструктивные и отделочные материалы должны
            быть надежно укреплены;
            <b><i>В случае невозможности крепежа багет по причине: отваливание кусков стены,
            оголена электропроводка, отсутствие несущих конструкций и другое, произошедшее не по
            вине Подрядчика и которое усложняют работу монтажников.
                При этом сроки выполнения работ могут быть сдвинуты</i>></b>
        </li>
        <li>
            В потолке и стенах все отверстия и дыры должны быть заделаны или запенены, чтобы исключить
            перепад давления за натяжным потолком и основным помещением;
        </li>
        <li>
            В случае крепления потолка по перекрытию, его поверхность должна быть ровной и находиться
            в одной плоскости;
        </li>
        <li>
            Если работы проводятся в помещении с находящейся в нем мебелью, то мебель должна быть
            сдвинута к центру, а в случае если ее высота отличается от высоты помещения менее чем на 90 см,
            то помещение должно быть освобождено. Все мелкие предметы необходимо убрать.
        </li>
        <li>
            <b><i>Заказчик обязан предоставить</i></b> схему скрытой электропроводки, водопровода, находящихся в стенах помещения. Исполнитель не несет ответственности за повреждение электропроводки и водопровода, а также других коммуникаций в случае отсутствия схемы или ее несоответствия с реальным
            расположением коммуникаций.
        </li>
        <li>
            В соответствии с технологией плоскости потолков выставляются горизонтально по гидроуровню.
        </li>
        <li>
            Усложненные конструкции натяжных потолков, не представленные в прайс-листе, рассчитываются
            и оплачиваются отдельно.
        </li>
        <li>
            Заказчик обязан предоставить закрытое и охраняемое помещение для хранения материалов,
            оборудования и инструментов и несет материальную ответственность за их сохранность на объекте.
        </li>
    </ul>
</div>

<b>3.<i><u>Мощность устанавливаемых потолочных светильников не должна превышать 60W для ламп накаливания и 35W для галогеновых.</u></i></b>
<b>4.</b> В случае попадания в запотолочное пространство (после монтажа изделий) жидкостей, насекомых, фрагментов основного потолка, ситуация не является гарантийной, и ремонт проводится за отдельную плату.
<p>4.1.	Гарантия также не распространяется в случаях:
    <ul>
        <li>если нарушена инструкция по эксплуатации потолка;</li>
        <li>если неисправность конструкции и полотна произошла по причине механических повреждений, в том числе и по причине воздействия Заказчика или третьих лиц.;</li>
        <li>если вибрация потолка происходит из-за внешнего воздействия воздуха;</li>
        <li>если повреждения вызваны стихией, пожаром, бытовыми факторами, включая такие, как несоответствие Государственным стандартам параметров питающих сетей, и другими подобными факторами.</li>
    </ul>
</p>
<b>5.</b> В случае разрыва полотна в зоне соприкосновения с точечным светильником, вследствие того, что края у светильника острые гарантия на полотно не распространяется, и Подрядчик ответственности не несет.
<div class="hr_cont" style="position: fixed;bottom: 20mm">
    <hr>
</div>
<div class="left" style="position: fixed;bottom:15mm;left:0;" >
<b>ЗАКАЗЧИК:</b><br>
</div>
<div class="left" style="position: fixed;bottom: 10px;left:0;" >
    
    Подпись_________________/@client_initials@/
</div>
<div style="position: absolute;left:30mm;bottom: 5mm">
    <img src="@client_sign@" style="width: 100px;max-height:40px;">
</div>
<div class="right" style="position:fixed;left: 28mm;bottom:15mm;">
     <b>ПОДРЯДЧИК:</b><br>
</div>
<div class="right" style="position: fixed;bottom: 0;right:0;">
    <div style='text-align: left;background: url("/images/contract/stamp.png");'>
        Подпись______________/Руденко И.А./<br>
        М.П.
    </div>
</div>
<div style="position: absolute;right:20mm;bottom: 0;">
    <img src="/images/contract/stamp.png" style="width: 200px;">
</div>
<div style="position: absolute;right:65mm;bottom: 0mm;">
    <img src="/images/contract/sign.png" style="width: 100px;">
</div>