
<div class="hr_cont">
    <hr>
</div>
<div class="left" style="position: fixed;bottom: 10px;left:0;" >
    <b>ЗАКАЗЧИК:</b><br>
    Подпись_________________/_________________/
</div>
<div class="right" style="position: fixed;bottom: 0;right:0;">
    <div style='text-align: left;'>
        <b>ПОДРЯДЧИК:</b><br>
        Подпись______________/Руденко И.А./<br>
        М.П.
    </div>
</div>
<div style="position: absolute;right:20mm;bottom: 0;">
    <img src="/images/contract/stamp.png" style="width: 200px;">
</div>

