<h4>4. СРОКИ ВЫПОЛНЕНИЯ РАБОТ И ДЕЙСТВИЯ ДОГОВОРА</h4>
<div>
    4.1. Договор вступает в силу с момента подписания его обеими сторонами и оплатой Заказчиком.
    аванса   в размере от 0 до 100% от общей стоимости заказа и прекращает свое действие одновременно
    с окончательным расчетом сторон.<br>
    4.2. Начало выполнения работ с <u>@mount_start@</u> г. Подрядчик в одностороннем порядке вправе изменить срок
    начала выполнения работ, предварительно уведомив об этом Заказчика.<br>
    4.3. Срок исполнения заказа составляет 15 рабочих дней (выходные и праздничные дни не включаются) на каждый этап
    выполнения данного договора, количество этапов и даты начала каждого этапа определяет Подрядчик в согласовании
    с Заказчиком. При переносе Заказчиком сроков монтажа, в процессе действия договора, следующий срок монтажа
    согласовывается с Подрядчиком и устанавливается в сроки, удобные для Подрядчика.
</div>
<h4>5. ГАРАНТИЙНЫЕ ОБЯЗАТЕЛЬСТВА И ОТВЕТСТВЕННОСТЬ СТОРОН</h4>
<div>
    5.1. Гарантийный срок на поставляемые изделия составляет 10 лет.<br>
    5.2. В случае несоблюдения Подрядчиком срока окончания работ по его вине, Подрядчик выплачивает Заказчику пеню в
    размере 0,1% от суммы аванса за каждый рабочий день просрочки, но не более 10% от стоимости работ по договору.
    В случаях, указанных в п.2 технических требований сроки выполнения заказа могут быть увеличены и оплачены заказчиком
    дополнительно.<br>
    5.3. В случае задержки окончательного расчета Заказчик выплачивает Подрядчику пеню в размере 0,1% от суммы
    договора за каждый день.<br>
    5.4. В случае немотивированного отказа от подписания акта приема-сдачи работ Заказчик уплачивает штраф в размере
    1500 руб.<br>
    5.5. Если в процессе установки обнаруживается, что стена является непригодной для закрепления профиля в результате
    наличия скрытых дефектов, Заказчик осуществляет ее ремонт своими силами либо оплачивает изготовление и установку
    конструкций для иного способа крепления профиля. В том случае, если продолжение работ невозможно, повторный выезд
    специалистов на объект Заказчиком оплачивает дополнительно в том размере, который согласован с Подрядчиком.<br>
    5.6. Подрядчик не несет ответственности за нарушение сроков выполнения работ, указанных в п.4.2., в случае
    неисполнения Заказчиком технических требований Подрядчика к объекту для установки натяжных потолков (приложение №1).<br>
    5.7. Подрядчик не несет ответственности за изменение цвета полотна натяжного потолка при воздействии на него
    температуры свыше 35 °С  и продуктами горения (дым, сажа и т.д.)<br>
    5.8. Натяжной потолок может совершать колебательные движения в вертикальной плоскости под действием воздушных
    потоков и перепадов давления между пространствами, разделенными натяжным потолком, которые являются следствием
    недостаточной герметичности пространства, расположенного над натяжным потолком. Амплитуда колебания зависит от
    текстуры, формы и площади потолка и не должна превышать 200 мм. Во избежание этого Заказчику рекомендуется
    устранить все щели в базовом потолке и прилегающих к нему стенах и конструкциях до начала работ по установке потолка.
    Подрядчик не несет ответственности за повреждения натяжного потолка, вызванные вертикальным колебанием.<br>
    5.9. Подрядчик не несет ответственности за работоспособность установленных источников света, а также кабельных линий,
    обеспечивающих включение и отключение электроэнергии;<br>
    5.10. Подрядчик не отвечает за дефекты потолка, образовавшиеся в результате хранения потолка свыше 14 календарных
    дней, из-за его несвоевременной установки по вине Заказчика и за дефекты, возникшие из-за небрежного обращения
    с установленным потолком.<br>
    5.11. Гарантийные обязательства выполняются после проведения экспертизы.<br>
    5.12. Гарантия не предоставляется на оборудование и материалы, предоставляемые Заказчиком.<br>
    5.13. В случае отказа Заказчиком от исполнения обязательств по настоящему договору или необоснованного расторжения<br>
    настоящего договора, Подрядчик вправе потребовать от Заказчика компенсации расходов, связан-ных с исполнением
    настоящего договора в полном объеме не позднее 3-х (трех) календарных дней с момента подачи требования об отказе
    Заказчиком.<br>
    5.14. Заказчик разрешает вести на своём объекте фото и видеосъемку выполнения монтажных работ и дает согласие на
    использование изображений в публичных показах в различных средствах массовой информации с целью рекламных кампаний
    подрядчика.<br>
</div>
<div class="hr_cont" style="position: fixed;bottom: 20mm">
    <hr>
</div>
<div class="left" style="position: fixed;bottom: 10px;left:0;" >
    <b>ЗАКАЗЧИК:</b><br>
    Подпись_________________/_________________/
</div>
<div style="position: absolute;left:30mm;bottom: 0">
    <img src="@client_sign@" style="width: 100px;max-height:50px;">
</div>
<div class="right" style="position: fixed;bottom: 0;right:0;">
    <div style='text-align: left;background: url("/images/contract/stamp.png");'>
        <b>ПОДРЯДЧИК:</b><br>
        Подпись______________/Руденко И.А./<br>
        М.П.
    </div>
</div>
<div style="position: absolute;right:20mm;bottom: 0;">
    <img src="/images/contract/stamp.png" style="width: 200px;">
</div>