<h4>6. ФОРС-МАЖОР</h4>
<div>
    6.1. Стороны освобождаются от ответственности за полное либо частичное неисполнение своих обязательств по данному
    договору, если оно является следствием обстоятельств непреодолимой силы: наводнения, пожара, землетрясения,
    а также постановлений правительства Российской Федерации и местных органов власти, если данные обстоятельства
    непосредственным образом оказали влияние на исполнение данного договора. В этом случае срок исполнения обязательств
    по договору переносится соразмерно со временем, в течение которого действовали данные обстоятельства. В случае их
    продолжения более 3 месяцев, каждая сторона договора имеет право аннулировать его. При этом ни одна из сторон не
    имеет права на возмещение убытков.
</div>
<h4>7.  ОСНОВНЫЕ ПОЛОЖЕНИЯ </h4>
<div>
    7.1. Изменения в настоящем договоре допускаются исключительно по письменному согласованию сторон.<br>
    7.2. Настоящий договор составлен в двух экземплярах и имеет одинаковую юридическую
    силу.<br>
    7.3. Все вопросы и проблемы, возникшие между сторонами, решаются путем переговоров. Если стороны путем переговоров
    не пришли к взаимному согласию, то все возникшие вопросы и проблемы решается в суде.<br>
</div>
<h4>8. АДРЕСА И ПОДПИСИ СТОРОН</h4>
<div class="center">
    <table>
        <tbody>
        <tr>
            <td><b>ЗАКАЗЧИК:</b></td>
            <td rowspan="7">
                <b>ПОДРЯДЧИК:</b><br>
                ИП Руденко И.А.<br>
                Фактический адрес: 394026, г. Воронеж, Пр-т Труда, д.48<br>
                Юридический адрес: 394074, г. Воронеж, ул. Новикова, д.9<br>
                Тел.: <b>+7(473)212-34-01</b><br>
                E-mail: gm-partner@mail.ru<br>
                Сайт: http://www.gm-vrn.ru<br>
                ОГРН 309361002600011<br>
                ИНН 362200996371<br>
                Р/счет: 40802810508200005046<br>
                ОАО АКБ «АВАНГАРД» г. Москва<br>
                К/счет: 30101810000000000201<br>
                БИК: 044525201
            </td>
        </tr>
        <tr>
            <td><b>Ф.И.О.</b> @client_name@</td>
        </tr>
        <tr>
            <td><b>Адрес: </b>@project_info@</td>
        </tr>
        <tr>
            <td><b>Тел.сот.: </b>@client_contact@</td>
        </tr>
        <tr>
            <td><b>E-mail: </b>@client_email@</td>
        </tr>
        <tr>
            <td><b>Дата рождения: </b>@birthday@</td>
        </tr>
        <tr>
            <td><b>Документ:</b>@document@</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="hr_cont" style="position: fixed;bottom: 20mm">
    <hr>
</div>
<div class="left" style="position: fixed;bottom:15mm;left:0;" >
<b>ЗАКАЗЧИК:</b><br>
</div>
<div class="left" style="position: fixed;bottom: 10px;left:0;" >
    
    Подпись_________________/@client_initials@/
</div>
<div style="position: absolute;left:30mm;bottom: 5mm">
    <img src="@client_sign@" style="width: 100px;max-height:40px;">
</div>
<div class="right" style="position:fixed;left: 28mm;bottom:15mm;">
     <b>ПОДРЯДЧИК:</b><br>
</div>
<div class="right" style="position: fixed;bottom: 0;right:0;">
    <div style='text-align: left;background: url("/images/contract/stamp.png");'>
        Подпись______________/Руденко И.А./<br>
        М.П.
    </div>
</div>
<div style="position: absolute;right:20mm;bottom: 0;">
    <img src="/images/contract/stamp.png" style="width: 200px;">
</div>
<div style="position: absolute;right:65mm;bottom: 0mm;">
    <img src="/images/contract/sign.png" style="width: 100px;">
</div>