<h5> ДОГОВОР №<u>@project_id@</u> </h5>
<div class="left">г. Воронеж</div>
<div class="right"><u>@DATE@</u></div>
<div class="after">
    <p>
        <i><b>ИП Руденко И.А.,</b></i> в лице Руденко Игоря Александровича, именуемый в дальнейшем «Подрядчик», действующий
        на основании Свидетельства, с одной стороны и <u>@client_name@</u>, именуемый(ая) в дальнейшем «Заказчик»,
        с другой стороны, заключили настоящий договор о нижеследующем:
    </p>
</div>
<h4>1. ПРЕДМЕТ ДОГОВОРА</h4>
<div>
    1.1. Заказчик поручает и оплачивает, а Подрядчик принимает на себя обязательства по изготовлению, доставке и
    установке на объекте Заказчика натяжных потолков.
</div>
<h4>2. ОБЯЗАННОСТИ СТОРОН</h4>
<div>
    2.1.  Подрядчик обязан:
    <p>
    <ul>
        <li>Произвести необходимые замеры на объекте Заказчика;</li>
        <li>Составить спецификацию и согласовать ее с Заказчиком;</li>
        <li>Изготовить, доставить и осуществить установку на объекте Заказчика натяжных потолков;  </li>
        <li>В случае возникновения обстоятельств, замедляющих ход работ или делающих дальнейшее продолжение
            работ невозможным, в том числе несоответствие помещения техническим требованиям к объекту для монтажа
            натяжных потолков, немедленно поставить об этом в известность Заказчика.
        </li>
        <li>
            При наличии обоснованных претензий к качеству производимых изделий и работ со стороны
            Заказчика, устранить их за свой счет. Устранение недостатков изменяют сроки выполнения работ.
        </li>
    </ul>
    </p>
    2.2 Заказчик обязан:
    <p>
    <ul>
        <li>
            Своевременно оплачивать работу Подрядчика в соответствии с условиями настоящего Договора;
        </li>
        <li>
            Обеспечить беспрепятственный доступ работников Подрядчика к объекту Заказчика и обеспечить элек-троэнергией;
        </li>
        <li>
            Предоставить помещение согласно техническим требованиям Подрядчика (приложение №1);
        </li>
        <li>
            В случае возникновения обстоятельств, замедляющих ход работы или делающих дальнейшее продолжение работ
            невозможным, немедленно устранить эти обстоятельства. В противном случае срок выполнения работ смещается
            и продляется на время задержки вызванной этими обстоятельствами.
        </li>
        <li>
            В день завершения принять выполненные работы у Подрядчика, подписав акт приема-сдачи работ лично,
            либо поручив это доверенному лицу. В случае мотивированного отказа Заказчика от приемки работ у Подрядчика,
            сторонами составляется дефектная ведомость с перечнем необходимых доработок и указанием сроков их устранения.
            При отсутствии Заказчика, или его доверенного лица на объекте на момент сдачи работ, основанием считать
            работу выполненной и принятой Заказчика служит односторонний акт, подписанный Подрядчиком. При этом
            претензии Заказчика по объему и качеству выполненных Подрядчиком работ не принимаются.
        </li>
    </ul>
    </p>
</div>
<h4>3. СТОИМОСТЬ РАБОТ И ПОРЯДОК РАСЧЕТОВ</h4>
<div>
    3.1. Стоимость по данному договору составляет <b>@project_sum@</b><br>
    3.2. Заказчик выплачивает Подрядчику аванс в размере <b>@prepayment@</b> <br>
    3.3. Остаток суммы <b>@rest@</b> выплачивается Заказчиком в день завершения всех работ полностью или частично в день подписания Акта приема передачи в соответствии с суммой выполненных работ и переданных материалов.<br>
    3.4. Расчеты между сторонами осуществляются в любой форме, не противоречащей действующему законода-тельству РФ.<br>
    3.5. В исключительных случаях Подрядчик вправе потребовать от Заказчика выплаты остатка суммы по настоя-щему договору, перед предполагаемой датой установки.<br>
</div>

<div class="hr_cont" style="position: fixed;bottom: 20mm">
    <hr>
</div>
<div class="left" style="position: fixed;bottom: 10px;left:0;" >
    <b>ЗАКАЗЧИК:</b><br>
    Подпись_________________/_________________/
</div>
<div style="position: absolute;left:30mm;bottom: 0">
    <img src="@client_sign@" style="width: 100px;max-height:50px;">
</div>
<div class="right" style="position: fixed;bottom: 0;right:0;">
    <div style='text-align: left;background: url("/images/contract/stamp.png");'>
        <b>ПОДРЯДЧИК:</b><br>
        Подпись______________/Руденко И.А./<br>
        М.П.
    </div>
</div>
<div style="position: absolute;right:20mm;bottom: 0;">
    <img src="/images/contract/stamp.png" style="width: 200px;">
</div>

<div style="position: absolute;right:65mm;bottom: 0mm;">
    <img src="/images/contract/sign.png" style="width: 100px;">
</div>
